
//Put any vendor stuff you would like to add (for scss inclusion) below this line. Order matters.
@import "bootstrap-sass/assets/stylesheets/bootstrap";

//All of your *.scss files will automatically be compiled and injected into the block below. Don't add anything manually
// in the below block or it will be deleted.
///
/*** scss-inject ***/
/*** end scss-inject ***/

a span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}
